
<div class="container">
  <h1>Create New List</h1>

  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>

  <p><%= link_to "Back To List", root_path%></p>
</div>
